body
{
  background-color: pink;
}

div
{
  padding: 40px;
  text-align: justify;
}

.negrita
{
  font-weight: bold;
}

.bueno
{
  color: green;
}

.malo
{
  color: red;
}

.narrador
{
  font-style: italic;
}
