body
{
  background-color: #B47474;
  padding: 40px;
}

div
{
  text-align: justify;
  background-color: #E3E3E3;
  padding: 20px;
}

h1,h2
{
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
}

h1
{
  font-family: fantasy;
}

p
{
    font-family: sans-serif;
}

.negrita
{
  font-weight: bold;
}

.bueno
{
  color: green;
}

.malo
{
  color: #D32F2F;
}

.narrador
{
  font-style: italic;
}
